
logs/

새 폴더/

untitled0.py

*.hdf5

DB/train - 복사본/

DB/test - 복사본/
DB/

*.png

*.jpg

__pycache__/parameter.cpython-37.pyc

__pycache__/

.spyproject/config/backups/

.spyproject/config/workspace.ini
